@model AppResult<UserRegisterDTO>;
@{
}
<div class="row">
	<div class="col">
		<form class="form-signin" method="post">
			<div class="text-center">
				<img class="mb-4" src="~/images/bug_tracker_icon.jpg" alt="bug tracker icon" width="72" height="72">
			</div>
			<div class="form-group row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<label asp-for="@Model.Result.Username" class="form-label">Username:</label>
					<div class="input-group mb-3  col-md-4">
						<input type="text" class="form-control" asp-for="@Model.Result.Username" aria-describedby="basic-addon1">
					</div>
				</div>
				<div class="col-md-4"></div>
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<label asp-for="@Model.Result.Password" class="form-label">Password:</label>
					<div class="input-group mb-3">
						<input type="text" class="form-control" asp-for="@Model.Result.Password" aria-label="Password" aria-describedby="basic-addon1">
					</div>
				</div>
				<div class="col-md-4"></div>



				<div class="col-md-4"></div>
				<div class="col-md-4 text-center">
					<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
				</div>
				<div class="col-md-4"></div>
			</div>
		</form>
	</div>
</div>